.DS_Store
.env

# dependencies
client/node_modules
client/.pnp
client.pnp.js

node_modules

# testing
client/coverage

# production
client/build
dist
build

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
