.DS_Store

# dependencies
client/node_modules
client/.pnp
client.pnp.js

server/node_modules

# testing
client/coverage

# production
client/build
server/dist
server/build

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
