<div class="mt-4">
    <form method="post">
    <div class="form-group">
        <label for="q">Input</label>
        <input name="q" class="form-control" id="q" placeholder="Input">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>